:root {
  --background-color: lightgrey;
  --button-color: #42b983;
  --button-schedule: yellow;
}

html {
  background-color: var(--background-color);
}

.align-vertical {
  box-sizing: border-box;
}

.align-horizontal {
  box-sizing: border-box;
}

.button-filters {
  color: var(--button-color);
}

.button-expand {
  color: var(--button-color);
}

.button-schedule {
  color: var(--button-schedule);
}

.button-schedule:clicked {
  color: var(--button-schedule);
}
